<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="info">
        <div class="box2 text-center well" th:if="${label.get(sentence)}">
            <h5 th:text="'Labeled by you (' + ${rater.id} + ')'">Label</h5>
            <label class="checkbox-inline"><input type="checkbox" th:checked="${label.get(sentence).SP}" disabled>SP</label>
            <label class="checkbox-inline"><input type="checkbox" th:checked="${label.get(sentence).TP}" disabled>TP</label>
            <label class="checkbox-inline"><input type="checkbox" th:checked="${label.get(sentence).CP}" disabled>CP</label>
        </div>
        <div class="box2 text-center alert alert-danger" th:unless="${label.get(sentence)}">
            <h5>Not Labeled Yet</h5>
            <br/><br/>
        </div>
    </div>
    <div th:fragment="view-info">
        <h4 class="text-center">Sentence Label</h4>
        <div th:if="${not #lists.isEmpty(sentence.labelSentence)}">
            <div class="text-center well" th:each="ls : ${sentence.labelSentence}">
                <h5 th:text="${ls.id_rater}">Label</h5>
                <label class="checkbox-inline"><input type="checkbox" th:checked="${ls.SP}" disabled>SP</label>
                <label class="checkbox-inline"><input type="checkbox" th:checked="${ls.TP}" disabled>TP</label>
                <label class="checkbox-inline"><input type="checkbox" th:checked="${ls.CP}" disabled>CP</label>
            </div>
        </div>
        <div class="text-center alert alert-danger" th:if="${#lists.isEmpty(sentence.labelSentence)}">
            <h5>The Sentence is not labeled yet</h5>
        </div>
        <h4 class="text-center">Post Label</h4>
        <div th:if="${postLabel.get(sentence)}">
            <div class="text-center alert alert-success" th:each="lp : ${postLabel.get(sentence)}">
                <h5 th:text="${lp.id_rater}">Label</h5>
                <label class="checkbox-inline"><input type="checkbox" th:checked="${lp.SP}" disabled>SP</label>
                <label class="checkbox-inline"><input type="checkbox" th:checked="${lp.TP}" disabled>TP</label>
                <label class="checkbox-inline"><input type="checkbox" th:checked="${lp.CP}" disabled>CP</label>
            </div>
        </div>
        <div class="text-center alert alert-danger" th:unless="${postLabel.get(sentence)}">
            <h5>The Post is not labeled yet</h5>
        </div>
    </div>
    <div th:fragment="view-info-panel">
        <div th:if="${not #lists.isEmpty(sentence.labelSentence)}">
            <div class="text-center well">
                <h5>Labeled by <span style="font-weight:bold" th:each="ls, iter : ${sentence.labelSentence}"><span th:text="!${iter.last} ? ${ls.id_rater} + ', ': ${ls.id_rater}"></span></span></h5>
            </div>
        </div>
        <div class="text-center alert alert-danger" th:if="${#lists.isEmpty(sentence.labelSentence)}">
            <h5>Not Labeled Yet</h5>
        </div>
    </div>
</body>
</html>