.admin-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}

.box {
    padding: 25px 7% 0;
    text-align: justify;
    position: relative;
    background: #fff;
}

.pagination-centered {
	text-align: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}